PyMySQL~=1.1.0
Django>=5.0
djangorestframework
djangorestframework-simplejwt>=5.5.1
django-cors-headers
Pillow
celery[redis]
openpyxl
psycopg2-binary
gunicorn
whitenoise
python-decouple
user-agents
shortuuid
